/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* BASE */

:root {
	--primaryColor: oklch(14.5% 0 0);
	--secondaryColor: oklch(98.5% 0 0);
	--accentColor: oklch(62.3% 0.214 259.815);
}

body {
	font-family: sans-serif;
	color: var(--primaryColor);
}

.container {
	max-width: 40rem;
	margin: 0 auto;
}

button {
	cursor: pointer;
}

.btn {
	font-weight: 700;
	background-color: var(--accentColor);
	color: var(--secondaryColor);
	border: 1px solid var(--accentColor);
	border-radius: 4px;
	display: inline-block;
	padding: 0.125rem 0.75rem;
}

/* HEADER */
header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	box-shadow:
		rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
		rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.header-title {
	display: flex;
}

header h1 {
	margin-right: auto;
}

/* BOOKS */
.books {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 1rem;
}
